@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(79 70 229);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #111;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
}

html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.container {
    @apply max-w-[1300px]
}

.open-hamburguer {
    @apply tablet:h-auto tablet:w-full tablet:justify-center tablet:items-center tablet:bg-slate-900 tablet:bg-opacity-100 tablet:rounded tablet:py-3 tablet:gap-5 tablet:divide-y-2 tablet:divide-gray-800
}

.transition-2s {
    transition: all 2s;
}

.animation-appear {
    animation: appear .5s forwards;
}

.animation-float {
    animation: float 10s infinite linear;
}

.animation-navbar {
    animation: navbar-entry 1s forwards;
}

@keyframes navbar-entry {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes float {
    0% {
        transform: translateY(-1rem);
    }
    50% {
        transform: translateY(1rem);
    }
    100% {
        transform: translateY(-1rem);
    }
}
